:root {
    --dark: darkblue;
    --medium: blue;
    --light: lightblue;
}

* {
    box-sizing: border-box;
}


body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    line-height: 1.2;
}

/* header section */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark);
    color: var(--light);
    padding: 1%;
}

h1 {
    font-size: 350%;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 400px;
    list-style-type: none;
}

nav a {
    color: lightgoldenrodyellow;
    font-size: 120%;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 5px;
}

/* aside section */
aside section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    background-color: var(--medium);
    color: var(--light);
    padding: 3% 5% 1%;
}

#headshot {
    width: 200px;
    border-radius: 5%;
    height: auto;
}

h2 {
    font-size: 200%;
}

/* main section */
main section {
    display: flex;
    flex-direction: row;
    padding: 3% 0;
}

/* about me */
#about-me {
    flex: 18%;
    height: auto;
    font-size: 200%;
    text-align: right;
    padding: 0 1%;
    border-right: 5px solid var(--medium);
}

#bio {
    flex: 78%;
    padding: 0 1%;

}

/* work */
#section-2 {
    flex-direction: row;
}

#work {
    flex: 18%;
    height: auto;
    font-size: 200%;
    text-align: right;
    padding: 0 1%;
    border-right: 5px solid var(--medium);
}

#projects {
    position: relative;
    display: flex;
    flex: 78%;
    padding: 0 1%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

#card-1 {
    flex: 80%;
    margin: 2%;
    min-height: 500px;
    border: black solid 2px;
    background-image: "./assets/images/wave.jpg";
    opacity: 70%;
}

.card {
    flex: 40%;
    margin: 2%;
    min-height: 200px;
    border: black solid 2px;
    opacity: 70%;
}

#projects header {
    position: absolute;
    background-color: var(--light);
    color: var(--dark);
    border: 2px solid var(--medium);
    height: 100px;
    width: auto;
    opacity: 100%;
}

/* contact me */
#contact-me {
    flex: 18%;
    height: auto;
    font-size: 200%;
    text-align: right;
    padding: 0 1%;
    border-right: 5px solid var(--medium);
}

#socials {
    flex: 78%;
    display: flex;
    justify-content: flex-start;
    min-width: 500px;
    padding: 0 2%;
    list-style-type: none;
}

#socials li {
    padding: 0 2%;
}

footer {
    background-color: darkslategray;
    color: white;
    padding: 1%;
}

#card-1:hover,
.card:hover {
    box-shadow: inset 0px 0px 8px black, 0 0 15px black;
    opacity: 100%;
}

@media screen and (max-width: 968px) {
    .card {
        flex: 80%;
    }
}

@media screen and (max-width: 760px) {
    #section-1,
    #section-2,
    #section-3 {
        flex-direction: column;
    }

    #about-me,
    #work,
    #contact-me {
        flex: 100%;
        text-align: center;
        border-right: 0;
        padding: 3% 0;
    }
}